* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.account-img {
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

.sat-img {
    width: 100%;
}

.sat-segm-img {
    width: 100%;
    /* position: absolute;
    top: 0;
    left: 0;
    opacity: 1; */
}

.weather-icon {
    width: 64px
}