* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.sat-img {
    width: 100%;
}

.sat-segm-img {
    width: 100%;
}

.weather-icon {
    width: 64px
}

.nav-logo {
    width: 156px;
}

.footer-logo {
    width: 320px;
}

.footer-icon {
    width: 32px;
}

.about-img {
    width: 100%;
    border-radius: 10px;
}